<div class="row">
    <div class="col-sm-8 col-xs-10">
        <input type="text" class="form-control input-sm" ng-model="model.Name" disabled />
    </div>
    <div class="col-sm-4 col-xs-2 p-0">
        <div class="custom-file">
            <!--<input type="file" id="{{name}}" name="{{name}}" accept="{{accept}}" ng-model="model" ng-required="required" />-->
            <label class="btn btn-default">
                Buscar <input type="file" id="{{name}}" name="{{name}}" accept="{{accept}}" ng-model="model" ng-required="required" hidden>
            </label>
        </div>
    </div>

